.meals {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    list-style: none;
    padding: 0;
}


@media(min-width: 768px) {
    .meals {
        max-width: 90rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        margin: 2rem auto;
        grid-gap: 5rem;
    }
}
